<?xml version="1.0" encoding="UTF-8"?>

<!--<configuration>
    &lt;!&ndash;<property name="user.home" value="" />&ndash;&gt;

    &lt;!&ndash; console &ndash;&gt;
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    &lt;!&ndash; other.log &ndash;&gt;
    <appender name="JmqttOtherAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/cluster-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttOtherAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttOtherAppender_inner"/>
    </appender>

    &lt;!&ndash; cluster.log &ndash;&gt;
    <appender name="JmqttClusterAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/cluster-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttClusterAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttClusterAppender_inner"/>
    </appender>

    &lt;!&ndash; store.log &ndash;&gt;
    <appender name="JmqttStoreAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/store.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/store-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttStoreAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JJmqttStoreAppender_inner"/>
    </appender>

    &lt;!&ndash; remoting.log &ndash;&gt;
    <appender name="JmqttRemotingAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/remoting.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/remoting-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttRemotingAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttRemotingAppender_inner"/>
    </appender>

    &lt;!&ndash; messageTrace.log &ndash;&gt;
    <appender name="JmqttMessageTraceAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/messageTrace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logb-ack.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/messageTrace-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttMessageTraceAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttMessageTraceAppender_inner"/>
    </appender>

    &lt;!&ndash; broker.log &ndash;&gt;
    <appender name="JmqttBrokerAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/broker.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/broker-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttBrokerAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttBrokerAppender_inner"/>
    </appender>

    &lt;!&ndash; clientTrace.log &ndash;&gt;
    <appender name="JmqttClientTraceAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/clientTrace.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/clientTrace-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttClientTraceAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttClientTraceAppender_inner"/>
    </appender>

    &lt;!&ndash; react.log &ndash;&gt;
    <appender name="JmqttReactAppender_inner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/jmqttlogs/application.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/jmqttlogs/otherdays/application-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>128MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
            </Pattern>
        </encoder>
    </appender>
    <appender name="JmqttReactAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JmqttReactAppender_inner"/>
    </appender>

    <logger name="brokerLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttBrokerAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="clientTraceLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttClientTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="messageTraceLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttMessageTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="remotingLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttRemotingAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="storeLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttStoreAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="clusterLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttClusterTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="otherLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="JmqttOtherTraceAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="applicationLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="JmqttReactAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="JmqttReactAppender"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>-->
